  <form action="/register" method="POST">
                <!-- Campo nombre-->
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" class="form-control" type="text" name="user" required>
                </div>

                <!-- Campo apellido -->
                 <div class="form-group">
                    <label for="mail">Mail</label>
                    <input id="mail" class="form-control" type="text" name="user" required>
                </div>

                <!-- Campo DNI -->
               <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" class="form-control" type="text" name="user" required>
                </div>

                <!-- Botón de envío -->
                <button class="btn btn-success mt-3">Enviar</button>
 </form>